{# vim: set ft=htmldjango ts=2 sts=2 sw=2 et: #}
{% extends "stet/base.html" %}
{% load comments %}

{% block subtitle %}Preview your comment{% endblock %}

{% block content %}
  <form action="{% comment_form_target %}" method="post">{% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    {% if form.errors %}
      <h1>Please correct the errors below</h1>
    {% else %}
    <h1>Preview your comment</h1>
      <blockquote>{{ comment|linebreaks }}</blockquote>
      <p>
      and <input type="submit" name="submit" class="submit-post" value="Post your comment" id="submit" /> or make changes:
      </p>
    {% endif %}
    {% for field in form %}
      {% if field.is_hidden %}
        <div>{{ field }}</div>
      {% else %}
        {% if field.errors %}{{ field.errors }}{% endif %}
        <p
          {% if field.errors %} class="error"{% endif %}
          {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
          {{ field.label_tag }} {{ field }}
        </p>
      {% endif %}
    {% endfor %}
    <p class="submit">
    <input type="submit" name="submit" class="submit-post" value="Post">
    <input type="submit" name="preview" class="submit-preview" value="Preview">
    </p>
  </form>
{% endblock %}
