{# vim: set ft=htmldjango ts=2 sts=2 sw=2 et: #}
{% extends "stet/base.html" %}
{% load comments %}

{% block content %}
  <article>
    <h1>{{ object.title }}</h1>
    <footer>
      Published:
      <time pubdate datetime="{{ object.pub_date.isoformat }}">
        {{ object.pub_date.date }}
      </time>
      <a href="{{ object.get_absolute_url }}">shortlink</a>
      <a href="{{ object.get_long_url }}">longlink</a>
    </footer>
    {{ object.html|safe }}
  </article>
  <section id="comments">
    {% render_comment_list for object %}
    <section id="form">
      {% render_comment_form for object %}
    </section>
  </section>
{% endblock %}
